:root {
  --bg-color: #ecf2f8;
  --white-color: #fff;
  --primary-color: #733fc8;
  --primary-accent-color: #a775f1;
  --secondary-color: #48556a;
  --tertiary-color: #19202d;
  --lightest-gray-color: #cfcfcf;
}
img {
  border-radius: 50%;
}
.image {
  border: 3px solid var(--primary-accent-color);
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--bg-color);
  margin: 4em auto;
}

.card {
  padding: 20px;
  margin: 5% 5% 5% 0%;
  border-radius: 3%;
}
.grid {
  gap: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 10px;
}

.card1 {
  background: var(--primary-color);
  height: 74%;
  width: 145%;
  margin-top: -1.5%;
}
.card2 {
  background: var(--secondary-color);
  height: 74%;
  margin-top: -1.5%;
  margin-right: -57%;
  margin-left: 60%;
}
.card3 {
  background: var(--white-color);
  color: var(--secondary-color);
  width: 74%;
  margin-top: -1%;
  margin-left: 30%;
  height: 155%;
}
.card4 {
  background: var(--tertiary-color);
  height: 100%;
  width: 145%;
  margin-top: -20%;
}
.card5 {
  background: var(--white-color);
  color: var(--secondary-color);
  height: 100%;
  margin-top: -20%;
}
